div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    border: 1rem solid;
    width: 40%;
    
    
    
    

    
}

    
    
    





    
    
    


.myButton

{   
    color:black;
    margin: 5%;


    

    
    
    




}

